$primary-color: #CD10FF;
$secondary-color: #58595B;
$background-color: #FFFFFF;
$border-color: #eee;
$hover-bg-color: #f8f8f8;
$hover-border-color: #ddd;
$overlay-bg: rgba(0, 0, 0, 0.5);


$font-family: 'Rubik', sans-serif;
$font-size-base: 16px;
$font-size-large: 25px;
$button-font-size: 19px;
$button-padding: 21px;
$modal-max-width: 650px;

$text-primary: #151A22;
$text-secondary: #343330;
$border-light: #ddd;
$text-dark: #000000;
